* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none; 
    list-style-type: none;
}

body {
    min-height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(flag.jpg);
    background-color: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
    background-size: 100%, 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

}

.nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

.nav li {
    height: 50px;
}

.nav a {
    height: 100%;
    font-size: 20px;
    padding: 0 30px;
    align-items: center;
    display: flex;
    color: rgb(255, 255, 255);
}

.nav a:hover {
    background-color: rgb(227, 227, 227);
    border-radius: 20px;
    color: black;
}

h1 {
    color: #ffffff;
    font-size: 100px;
    text-align: center;
    font-family: 'Copperplate', sans-serif;
}

p{
    color: white;
    font-size: 1.4rem;
    text-align: justify;
    width:100%;    
    font-family: 'Monaco', sans-serif;
}

h2 {
    color: #ffffff;
    font-size: 70px;
    text-align: center;
    border-style: groove;
    border-radius: 30px;   
    font-family: 'Garamond', sans-serif;
    padding: 10px;
}

h2:hover {
    background-color: rgb(227, 227, 227);
    color: black;
}

html {
    scroll-behavior: smooth;
}
.nav{
    display:flex;
    width: 100%;
}
.pls{
    display:flex;
    flex-flow: column wrap;
    gap: 5rem;
    color:white;
    padding: 5rem 4rem;
    align-items: center;
    justify-content: center;
    
}
a{
    color:white;
}
.nav li:first-child{
    margin-right: auto;
}
.sidenav{
    position:fixed;
    top:0;
    right:0;
    height:100vh;
    width:250px;
    z-index: 999;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.137);
    box-shadow: -10px 0 10px rgb(0, 0, 0, 0.1);
    display:none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.sidenav li{
    font-size: 20px;
    padding: 20px;    
    width: 100%;
    border-radius: 30px;
    padding-left: 50px;
}
.sidenav a{
    
    width: 100%;
 
}
.sidenav li:hover {
    background-color: rgb(227, 227, 227);
    color: black;
}
.menu-button{
    display: none;
}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    flex-shrink: 1;
    
  
}
.slides{
    padding: 0 30px;
    width: fit-content;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:50px;
    
    flex-wrap: wrap;
    text-align: center;
    padding: 20px;
    
}
    
.slides img{
    width:800px;
    display: flex;
    flex-shrink: 1;

}
.container h3{
    font-size: 1.4rem;
    font-family: 'Monaco', sans-serif;
    text-align: justify;
    color:white;
    border-style: groove;
    width: fit-content;
    display: flex;
    height:-50%;
   
}









@media (max-width: 800px) {
    .hideonmob {
        display: none;
    }
    .menu-button {
        display: block;
    }
    .nav ul {
        justify-content: center; 
    }
    .slides img{
        width:500px;
        display: flex;
        flex-shrink: 1;
    
    }
}

@media (max-width: 400px) {
    .sidenav {
        width: 100%;
    }
    h1, h2 {
        font-size: 60px; 
    }
    p {
        font-size: 1.2rem;
    }
    .slides img{
        width:200px;
        display: flex;
        flex-shrink: 1;
    
    }
}
