* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    min-height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(flag.jpg);
    background-size: 100%, 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

nav li {
    height: 50px;
}

nav a {
    height: 100%;
    font-size: 20px;
    padding: 0 30px;
    text-decoration: none;
    align-items: center;
    display: flex;
    color: rgb(255, 255, 255);
}

nav a:hover {
    background-color: rgb(227, 227, 227);
    border-radius: 20px;
    color: black;
}

.in {
    width: fit-content;
    color: white;
    font-size: 4.5rem;
    left: 5%;
    top: 150px;
    position: absolute;
    display: flex;
}

.para {
    position: absolute;
    top: 300px;
    width: 40%;
    float: left;
    color: white;
    font-size: 1.3rem;
    left: 5%;
    text-align: justify;
    display: flex;
    flex: 50%;
}

.ex {
    left: 70%; /* Center horizontally */
    width: fit-content;
    color: white;
    font-size: 4rem;
    position: absolute;
    bottom: 30%; /* Distance from bottom */
    transform: translateX(-50%);
    background-color: rgb(0, 0, 0, 0.5);
    border-radius: 30px;
    border-style: double;
    box-sizing: border-box;
    padding: 10px;
    flex: 50%;
}
.container{
    display:flex;
    flex-wrap: wrap;
}

.ex:hover {
    background-color: rgb(227, 227, 227);
    color: black;
}

html {
    scroll-behavior: smooth;
}
/* Media query for smaller screens (Mobile) */
@media screen and (max-width:1024px) {
    /* Adjust for mobile phones: */
    [class="in"] {
        width: 100%;
        height: auto;
        left: 30%;
    }
    [class="para"] {
        width: auto;
        height: auto;
        padding: 10%;
        font-size: 1rem;
    }

    [class="ex"] {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        border: 2px solid black;
        padding: 10px;
        font-size: 30px;
        
    }
    [class="container"] {
        display:flex;
        flex-wrap: wrap;        
    }
}